
    <section class="container__card">

        <form  [formGroup]="formCreate" [ngClass]="toggle? 'add__form' : 'active' ">
            <img src="https://i.pinimg.com/originals/25/08/16/250816e40d33f791160e9a148c59a358.png" alt="" class="add__img">
            <div class="add__div">
                <input type="text" class="add__input1" placeholder="Aquí el titulo de la nota" formControlName="title">
                <textarea  class="add__input2" cols="45" rows="7" placeholder="Aquí la descripción" formControlName="description"></textarea>
                <input type="number" class="add__input3" placeholder="¿en cuantos dias?" formControlName="vencimiento">
                <button (click)="addNote()">Crear</button>
            </div>
        </form>

        @for (item of dataNotes; track $index) {
            <div class="nota" (click)="getSeleccion(item)">
             
                <img src="https://i.pinimg.com/originals/25/08/16/250816e40d33f791160e9a148c59a358.png" alt="">
                <h3 class="titulo">{{item.title}}</h3>
                <p class="parrafo">{{item.description}}</p>
                <h4 class="fecha">{{item.vencimiento | date}}</h4>
                <p class="estado"> <strong>Estado:</strong>  pendiente</p>
            </div>
        }@empty {
            <h1 style="font-size: 30px; color: rgb(30, 41, 42); height: 100vh;">No Tienes notas, puedes crear una en el boto de + </h1>
        }
    </section>
    
    <h1>{{toggle}}</h1>