.login__formulario{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(69 165 164);
    border-radius: 10px;
    border: 1px solid yellow;
    padding: 20px;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    .login__fieldset{
        display: flex;
        flex-direction: column;
        text-align: center;
        border: 1px solid yellow;
        gap: 5px;
        border-radius: 7px;
        .login__legend{
            font-size: 30px;
            font-weight: 800;
            margin-bottom: 10px;
            text-align: start;
            color: rgb(247, 247, 247);
        }
        .login__label{
            font-size: 17px;
        }

        .login__input{
            width: 80%;
            height: 35px;
            align-self: center;
            margin-bottom: 20px;
            border-radius: 7px;
            border: none;
            font-size: 18px;
        }

        .login__btn{
            width: 25%;
            height: 39px;
            align-self: center;
            border-radius: 7px;
            border: none;
            cursor: pointer;
            font-size: 18px;
        }

        .login__btn:hover{
            background-color: rgb(248, 240, 87);
            transition: 1s;
        }
    }
    .login__register{
        cursor: pointer;
        color: rgb(1, 30, 247);
        text-decoration: underline;
    }
}